.landing-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/img/landing.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/landing.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/landing.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/landing.jpg");
  background-color: #131316;
  width: 100%;
  height: 650px;
  -webkit-background-size: cover;
          background-size: cover; }
  .landing-page img.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    height: 88px; }
  .landing-page .smaller {
    padding-top: 30px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto;
    text-transform: uppercase;
    width: 283px;
    height: 11px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.38px; }
  .landing-page .bigger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 100px;
    font-family: Roboto;
    text-transform: uppercase;
    width: 645px;
    height: 28px;
    color: #ffe600;
    font-size: 40px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 2px; }
  .landing-page .btn.btn-outline-warning {
    color: white; }
    .landing-page .btn.btn-outline-warning:hover {
      color: white; }
    .landing-page .btn.btn-outline-warning.btn-xl {
      width: 200px; }
  .landing-page .arrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }

.nav-logo {
  margin-left: 150px; }

.custom-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background: black;
  border-bottom: 1px solid #ffe600; }

.nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 150px;
  color: #131316;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: -0.38px; }

.custom-link {
  color: #8e8e8e; }
  .custom-link:hover {
    color: #131316;
    border: 1px solid #ffe600;
    margin: -1px; }

.about-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px; }
  .about-us .about-head-bigger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #131316;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: -0.63px;
    padding-bottom: 30px; }
  .about-us .about-head-smaller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #ffe600;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: -0.38px; }
  .about-us .separator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-left: 1px solid #ffe600;
    height: 35px;
    position: absolute;
    left: 5px;
    margin: auto auto; }
  .about-us .numering {
    color: #ffe600;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: -0.63px;
    width: 30px; }
  .about-us .about-block-head {
    color: #131316;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: -0.38px; }
  .about-us .about-blocks {
    padding-top: 100px; }
  .about-us .about-block-body {
    color: #8e8e8e;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: -0.38px;
    padding-top: 15%;
    padding-bottom: 30%; }

.quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
  background: #ffe600; }
  .quote .quote-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    color: #131316;
    font-family: Roboto;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.25px; }
    .quote .quote-body .quote-body-smaller {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #ffffff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: -0.38px; }

.portfolio .portfolio-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8%; }
  .portfolio .portfolio-head .bigger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #131316;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: -0.63px; }
  .portfolio .portfolio-head .smaller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #ffe600;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: -0.38px;
    padding-bottom: 5%; }

.portfolio .portfolio-img {
  width: 279px;
  height: 200px;
  padding: 3%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }
  .portfolio .portfolio-img:hover {
    background: #ffe600;
    opacity: 0.5; }

.clients {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/img/clients-background.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/clients-background.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/clients-background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/clients-background.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  height: 660px;
  margin-top: 5%; }
  .clients .clients-img {
    margin-top: 15%; }
  .clients .clients-head {
    padding-top: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .clients .clients-head .bigger {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #ffffff;
      font-family: Roboto;
      font-size: 25px;
      font-weight: 400;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: -0.63px; }
    .clients .clients-head .smaller {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #ffe600;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: -0.38px; }

.contact-us {
  overflow-x: hidden; }
  .contact-us .contact-head {
    padding-top: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact-us .contact-head .bigger {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #131316;
      font-family: Roboto;
      font-size: 25px;
      font-weight: 400;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: -0.63px; }
    .contact-us .contact-head .smaller {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #ffe600;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      line-height: 27px;
      text-transform: uppercase;
      letter-spacing: -0.38px;
      margin-bottom: 7%; }
  .contact-us .btn.btn-secondary.btn-lg.btn-block {
    background: black;
    border-color: black;
    margin-bottom: 5%; }

.app-footer {
  line-height: 75px;
  color: yellow;
  height: auto;
  background: black; }
  .app-footer .social {
    padding-right: 20px; }
